* {
    padding: 0%;
    margin: 0%;
    }
.navigation-bar {
    position: sticky;
    top: 0%;
        color: white;
        background-color:#17a2b8;
    padding: 10px 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-between;
}
.navigation-links {
    width: 40%;
display: flex;
justify-content: space-around;
font-size: 10px;}
.navi {
    padding: 20px 0;
    display: block;
text-decoration: none;
color: white;
font-size: 12px;
}
.navi:hover {
    color: white;
}
.linkon a{
    text-decoration: none;
    background-color: rgb(58, 148, 178);
    color: white;
    display: block;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px 35px;
    font-size: small;}
.linkon a:hover {
background-color: white;
color: black;

}

.containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
        padding: 0 120px;
height: 90vh;
background-color: #17a2b8;
    }
    .roww {
display: flex;
flex-direction: row;
align-items: center;
    }
    .fifty {
        color: white;
    font-family: sans-serif;
display: flex;
flex-direction: column;
    }
.h2-size {

    font-size: 45px;
    line-height: 50px;
color: white;

margin-bottom: 25px;
}
.p-spacing {
    font-size: small;
    line-height: 25px;
    margin-bottom: 35px;
}
.links {
    display: flex;
    flex-direction: row;
    width: 100%;}
    .linkone a {  
        text-decoration: none;
        background-color: rgb(58, 148, 178);
        color: white;
        display: block;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid white;
        padding: 15px 25px;
    }
.linkone a:hover {
    background-color: white;
    color: black;
}


    .linktwo a {
        background-color: white;
        color: black;
        text-decoration: none;
        margin-left: 10px;
        display: block;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid  white;
        padding: 15px 25px;
    
    }
    .linktwo a:hover {
background-color: rgb(58, 148, 178);
color: white;
    }
    .second-containerr {
        padding: 0 120px;
        font-family: sans-serif;
height: 80vh;
display: flex;
flex-direction: column;
background-color: white;
    }
.f-row {
display: flex;
flex-direction: row;
justify-content: center;
}
.imgg {
    max-width: 100%;
    height: auto;
    display: inline;
}
.first-column {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1-dec {
    font-family: "Heebo",sans-serif;
    font-size: 36px;
    color: #222;
    font-weight: bold;
    margin-bottom: 15px;
}
.par-gray {
    font-size: 14px;
    color: #777;
}
.ppp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ll
.h44 {
    color: #222;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;

}
.third-container 
{
    padding: 0px 120px;
height: 100vh;
display: flex;
align-items: center;
}





           



@media (max-width:992px)

{
.imgg {
    display: none;
}
.navigation-links {
    display: none;
}
.containerr {
    padding: 0 20px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-bar {
    background-color: black;
    padding: 0% 100px;
}
.h2-size {
    padding: 0%;
    font-size:  36px;
}
.linkon {
    display: none;
}
.fifty {
    display: flex;
    width: 100%;
}
.lin1 {
    margin-right: 30px;
    display: block;
}
.linn {
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 4px;
    
}
}

@media (max-width:1140px)
